@model GenericDotNetCoreAdmin.ViewModels.GenericAdminEntityFormViewModel

@{
    Layout = null;
}

<form asp-action="@ViewContext.RouteData.Values["action"]" style="display: flex; flex-direction: column">
    @foreach (var formControl in Model.FormControls)
    {
        @Html.Label(formControl.Name, formControl.Name)
        <formInput
            for-type="@formControl.Type"
            for-name="@formControl.Name"
            with-value="@formControl.Value"
            readonly="@formControl.IsReadOnly"
            class="form-control">
        </formInput>
    }
    @* *@
    @* @foreach (var property in Model.ComplexProperties) *@
    @* { *@
    @*     @Html.Label(property.Name, property.Name) *@
    @*     @Html.DropDownList( *@
    @*         property.Name, *@
    @*         property.Values, *@
    @*         new *@
    @*         { *@
    @*             @class = "form-select" *@
    @*         }) *@
    @*     ; *@
    @* } *@
    <button class="btn btn-dark">@Model.Action</button>
</form>