@using static AutoCrudAdmin.Constants.CssClassNames
@model IEnumerable<AutoCrudAdmin.ViewModels.FormControlViewModel>

<style>
    .form-group {
        margin-bottom: 0;
    }

    .form-check-input {
        margin-left: 0.5rem;
    }
</style>

@foreach (var formControl in Model)
{
    var isCheckbox = formControl.Value is bool;
    var inputClassName = isCheckbox ? FormCheckboxInput : FormControl;
    var labelClassName = isCheckbox ? FormCheckboxLabel : string.Empty;
    var hiddenAttribute = formControl.IsHidden ? "hidden" : string.Empty;

    <div class="@FormGroup" @hiddenAttribute>
        <label class="@labelClassName">@formControl.DisplayName</label>
        <formInput
            for-type="@formControl.Type"
            for-form-control-type="@formControl.FormControlType"
            for-name="@formControl.Name"
            with-value="@formControl.Value"
            with-options="@formControl.Options"
            is-hidden="@formControl.IsHidden"
            is-db-set="@formControl.IsDbSet"
            is-readonly="@formControl.IsReadOnly"
            readonly="@formControl.IsReadOnly"
            class="@inputClassName">
        </formInput>
    </div>
}

