@using AutoCrudAdmin.TagHelpers
@using static AutoCrudAdmin.Constants.CssClassNames
@model AutoCrudAdmin.ViewModels.FormControlViewModel

@{
    var isCheckbox = Model.Value is bool;
    var inputClassName = isCheckbox ? FormCheckboxInput : FormControl;
    var labelClassName = isCheckbox ? FormCheckboxLabel : string.Empty;
    var hiddenAttribute = Model.IsHidden ? "hidden" : string.Empty;
}

<div class="@FormGroup" @hiddenAttribute>
    <label class="@labelClassName">@Model.DisplayName</label>
    <formInput
        for-type="@Model.Type"
        for-form-control-type="@Model.FormControlType"
        for-name="@Model.Name"
        with-value="@Model.Value"
        with-options="@Model.Options"
        is-hidden="@Model.IsHidden"
        is-db-set="@Model.IsDbSet"
        is-readonly="@Model.IsReadOnly"
        http-context="@Context"
        readonly="@Model.IsReadOnly"
        class="@inputClassName">
    </formInput>
</div>