@model AutoCrudAdmin.ViewModels.AutoCrudAdminEntityFormViewModel
@using static AutoCrudAdmin.Constants.CssClassNames;

@{
    Layout = ViewBag.LayoutName;
    var aspAction = Model?.CustomActionName ?? $"Post{ViewContext.RouteData.Values["action"]}";
}

<form enctype="multipart/form-data" asp-action="@aspAction" style="display: flex; flex-direction: column">
    <div id="entity-form" style="display:flex; flex-direction: column; gap: 10px;">
        @foreach (var formControl in Model.FormControls)
        {
            var className = formControl.Value is bool
                ? FormCheckboxInput
                : FormControl;
            var hiddenAttribute = formControl.IsHidden ? "hidden" : string.Empty;
            <label @hiddenAttribute>
                @formControl.Name
                <formInput
                    for-type="@formControl.Type"
                    for-form-control-type="@formControl.FormControlType"
                    for-name="@formControl.Name"
                    with-value="@formControl.Value"
                    with-options="@formControl.Options"
                    is-hidden="@formControl.IsHidden"
                    is-db-set="@formControl.IsDbSet"
                    is-readonly="@formControl.IsReadOnly"
                    readonly="@formControl.IsReadOnly"
                    class="@className">
                </formInput>
            </label>
        }
        <button class="btn btn-dark">@Model.Action</button>
    </div>
</form>

<script type="module" src="/js/mvc-grid-form.js"></script>
