@model AutoCrudAdmin.ViewModels.AutoCrudAdminEntityFormViewModel

@{
    Layout = ViewBag.LayoutName;
    var aspAction = Model?.CustomActionName ?? $"Post{ViewContext.RouteData.Values["action"]}";
}
<link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/css/select2.min.css" rel="stylesheet"/>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/js/select2.min.js"></script>


<form enctype="multipart/form-data" asp-action="@aspAction" style="display: flex; flex-direction: column">
    <div id="entity-form" style="display:flex; flex-direction: column; gap: 10px;">
        @foreach (var formControl in Model.FormControls)
        {
            var className = formControl.Value is bool
                ? "form-check-input"
                : "form-control";
            var hiddenAttribute = formControl.IsHidden ? "hidden" : string.Empty;
            <label @hiddenAttribute>
                @formControl.Name
                <formInput
                    for-type="@formControl.Type"
                    for-form-control-type="@formControl.FormControlType"
                    for-name="@formControl.Name"
                    with-value="@formControl.Value"
                    with-options="@formControl.Options"
                    is-hidden="@formControl.IsHidden"
                    readonly="@formControl.IsReadOnly"
                    class="@className">
                </formInput>
            </label>
        }
        <button class="btn btn-dark">@Model.Action</button>
    </div>
</form>

<script >
$(document).ready(function(){
    $(":checkbox").on('click', function(event) {
        if (event.target.value === "True") {
            event.target.value = "False"
        } else {
            event.target.value = "True"
        }
    });

    $("#entity-form select").select2();
});
</script>