@model AutoCrudAdmin.ViewModels.AutoCrudAdminEntityFormViewModel

@{
    Layout = ViewBag.LayoutName;
}

<form asp-action="@ViewContext.RouteData.Values["action"]" style="display: flex; flex-direction: column">
    <div style="display:flex; flex-direction: column; gap: 10px;">
        @foreach (var formControl in Model.FormControls)
        {
            var className = formControl.Value is bool
                ? "form-check-input"
                : "form-control";
            <label>
                @formControl.Name
                <formInput
                    for-type="@formControl.Type"
                    for-name="@formControl.Name"
                    with-value="@formControl.Value"
                    readonly="@formControl.IsReadOnly"
                    class="@className">
                </formInput>
            </label>
        }
        <button class="btn btn-dark">@Model.Action</button>
    </div>
</form>