@using AutoCrudAdmin.Extensions
@model AutoCrudAdmin.ViewModels.Pages.AutoCrudAdminIndexViewModel

@{
    Layout = ViewBag.LayoutName;
}

<!DOCTYPE html>

<html lang="en">
<head>
    <title>title</title>
    <link href="/css/mvc-grid.css" rel="stylesheet">
</head>
<body>
    <div>
        @if (Model.ToolbarActions.Any())
        {
            <section class="btn-toolbar mb-2">
            @foreach (var action in Model.ToolbarActions)
            {
                if (action.FormControls.Any())
                {
                    <a class="btn btn-outline-primary mx-2" href="#form-for-@action.Action.ToLower()">@action.Name</a>
                }
                else {
                    @Html.ActionLink(
                        action.Name,
                        action.Action,
                        ViewContext.GetControllerName(),
                        action.RouteValues,
                        new { @class = "btn btn-outline-primary mx-2" })
                }
            }
            </section>
        }

        @Model.GenerateGrid(Html)

        @foreach (var action in Model.ToolbarActions.Where(x => x.FormControls.Any()))
        {
            <form enctype="multipart/form-data" asp-action="@action.Action" style="display: flex; flex-direction: row; gap: 20px">
                <div id="form-for-@action.Action.ToLower()" style="display:flex; flex-direction: column; gap: 10px;">
                    @await Html.PartialAsync(
                        "_EnityFormControlsPartial",
                        Model.ToolbarActions.SelectMany(x => x.FormControls))
                    <button class="btn btn-outline-primary">@action.Name</button>
                </div>
            </form>
        }
    </div>
<script src="/js/mvc-grid.js"></script>
<script type="module" src="/js/mvc-grid-form.js"></script>
<script>
   document.querySelectorAll(".mvc-grid").forEach(element => new MvcGrid(element));
</script>
</body>
</html>